@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap");

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/* General Styles */

body {
	font-family: "Roboto", sans-serif;
}

.bg-dark {
	background-color: #1f2937;
}

.main-text {
	font-size: 48px;
	color: #f9faf8;
	font-weight: 900;
}

.secondary-text {
	font-size: 18px;
	color: #e5e7eb;
	font-weight: 500;
}

#logo {
	font-size: 24px;
}

.btn-cta {
	background-color: #3882f6;
}

.information-header {
	font-size: 36px;
	color: #1f2937;
}

#testimonials {
	background-color: #e5e7eb;
	font-size: 36px;
	font-weight: 300;
	color: #1f2937;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

li {
	list-style: none;
}

/* Positioning */

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.nav ul {
	display: flex;
	align-items: center;
	gap: 30px;
}

#hero {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	height: 60vh;
}

.right-hero {
	text-align: right;
}

.right-hero img {
	width: 80%;
	height: auto;
}

.btn-hero {
	background-color: #3882f6;
	color: white;
	padding: 0.5rem 1rem;
	border: 0;
	outline: none;
	border-radius: 5px;
	margin-top: 10px;
}

#information {
	text-align: center;
	padding: 4rem;
}

.information-header {
	margin-bottom: 4rem;
}

.elements-wrapper {
	display: flex;
	justify-content: center;
	gap: 3rem;
}

.info-element {
	width: 200px;
}

.info-element img {
	width: 200px;
	height: 200px;
}
